Ignore a specific executable file
trivy.exe

Ignore Python-specific files and directories
pycache/
*.pyc

Ignore virtual environment folders
venv/
.venv/

Ignore IDE-specific files
.idea/
.vscode/

Ignore OS-specific files
.DS_Store

Ignore logs and temporary files
*.log
*.tmpgit-filter-repo/

git-filter-repo/

